<div class="login-page">
  <div class="login-language">
    <app-language-selector />
  </div>
  <form class="login-card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>{{ 'auth.loginTitle' | translate }}</h1>
    <p class="subtitle">{{ 'auth.loginSubtitle' | translate }}</p>

    <label>
      <div class="flex flex-col gap-1.5 mx-auto w-full max-w-xs">
        <label pLabel for="basic-inputtext">{{ 'auth.username' | translate }}</label>
        <input pInputText id="basic-inputtext" formControlName="username" autocomplete="username" />
        <small class="text-surface-500">Used as the display name across your workspace</small>
      </div>
    </label>

    @if (loginMode == LoginMode.PASSWORD) {
      <label>
        <div class="flex flex-col gap-1.5 mx-auto w-full max-w-xs">
          <label pLabel for="basic-inputtext">{{ 'auth.password' | translate }}</label>
          <input pInputText id="basic-inputtext" formControlName="password" autocomplete="current-password" />
          <small class="text-surface-500">Used as the display name across your workspace</small>
        </div>
      </label>
    }

    @if (loginMode == LoginMode.PIN) {
      <label>
        {{ 'auth.pin' | translate }}
        <p-inputotp [(ngModel)]="pin" [length]="6" [integerOnly]="true" class="w-full *:flex-1 *:aspect-square **:text-2xl! **:font-bold! my-auto gap-3" />
      </label>
    }

    @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
    }

    <button pButton type="submit" [disabled]="loading || form.invalid">
      {{ loading ? ('auth.signingIn' | translate) : ('auth.signIn' | translate) }}
    </button>


    <div class="flex justify-center items-center gap-4">
      <button pButton><span class="material-icons">dialpad</span></button>
      <button pButton variant="outlined"><span class="material-icons">password</span></button>
    </div>

    <div class="flex justify-center gap-2">
      <button pButton type="button" variant="outlined">Reject</button>
      <button pButton type="button">Accept</button>
    </div>
    <p class="hint">{{ 'auth.demoHint' | translate }}</p>
  </form>
</div>
