<p-drawer
  [(visible)]="visible"
  [header]="bindings().header"
  [modal]="bindings().modal"
  [dismissible]="bindings().dismissible"
  [closable]="bindings().closable"
  [closeOnEscape]="bindings().closeOnEscape"
  [blockScroll]="bindings().blockScroll"
  [fullScreen]="bindings().fullScreen"
  [position]="bindings().position"
  [style]="bindings().style"
  [styleClass]="bindings().styleClass"
  (onShow)="onShow()"
  (onHide)="onHide()"
>
  @if (headerTemplate()) {
    <ng-template pTemplate="header">
      <ng-container *ngTemplateOutlet="headerTemplate()!" />
    </ng-template>
  }

  <ng-content />

  @if (footerTemplate()) {
    <ng-template pTemplate="footer">
      <ng-container *ngTemplateOutlet="footerTemplate()!" />
    </ng-template>
  } @else if (mergedConfig().footer?.buttons?.length) {
    <ng-template pTemplate="footer">
      <div class="app-drawer__footer">
        @for (button of mergedConfig().footer!.buttons; track button.id) {
          <button
            type="button"
            pButton
            [label]="button.label"
            [icon]="button.icon"
            [severity]="button.severity"
            [outlined]="button.variant === 'outlined'"
            [text]="button.variant === 'text'"
            [link]="button.variant === 'link'"
            [size]="button.size"
            [disabled]="button.disabled"
            (click)="onFooterClick(button.id)"
          ></button>
        }
      </div>
    </ng-template>
  }
</p-drawer>
