<div class="dashboard-layout">
  <header class="panel header">
  </header>

  <section class="middle-row">
    <div class="panel">
      <canvas #salesChart1></canvas>
    </div>
    <div class="panel">
      <canvas #salesChart2></canvas>
    </div>
    <div class="panel">
      <canvas #salesChart3></canvas>
    </div>
  </section>

  <section class="panel bottom">
    <app-toolbar [config]="toolbarConfig" />
    <app-grid
      [config]="gridConfig"
      [data]="rowData"
    />
  </section>
</div>
