@use 'variables' as *;

@use "ag-grid-community/styles" as ag;

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";


@include ag.grid-styles((
  theme: quartz
));

html {
  height: 100%;
}

body {
  color-scheme: light;
  background-color: $background;
  color: $text-primary;
  font-family: $font-family;
  font-size: $font-size-md;
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
